
<%= form_with(model: issuer, validates: true, local: true) do |form| %>

  <div class="field d-flex">
    <%= form.label :name %>
    <%= form.text_field :name, data: {behavior: "autocomplete" }, :class=> "ml-3 pl-2 pr-2 input-width"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary m-top"%>
  </div>
<% end %>
