<%= form_with(model: sector, local: true) do |form| %>

  <div class="field d-flex">
    <%= form.label :sector_name %>
    <%= form.text_field :sector_name, :class=> "ml-3 pl-2 pr-2 input-width" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary m-top"%>
  </div>
<% end %>
