<div class="analysis-wrapper w-100 float-left mt-4">
    <div class="container">
        <form class="d-flex">
            <h6>Analysis</h6>
            <div class="inp-check ml-3">
                <input type="radio" alt="" id="goi" name="analysis" value="goi" />
                <label for="goi">GOI</label>
            </div>
            <div class="inp-check ml-3">
                <input type="radio" alt="" id="sdl" name="analysis" value="sdl" />
                <label for="sdl">SDL</label>
            </div>
            <div class="inp-check ml-3">
                <input type="radio" alt="" id="dtb" name="analysis" value="dtb" />
                <label for="dtb">DTB</label>
            </div>
            <div class="inp-check ml-3">
                <input type="radio" alt="" id="cor" name="analysis" value="cor" />
                <label for="cor">Corporate</label>
            </div>
        </form>
        <div class="d-flex row mt-3">
            <div class="d-analysis col-2 float-left">
                <label>By Name / ISIN</label>
                <input type="text" class="w-100" alt="" id="isin-filter" />
            </div>
            <div class="d-analysis col-2 float-left">
                <label>By Tenure</label>
                <input type="text" class="w-100" alt="" />
            </div>
            <div class="d-analysis col-2 float-left">
                <label>By Int. Freq.</label>
                <input type="text" class="w-100" alt="" />
            </div>
            <div class="d-analysis col-2 float-left">
                <label>By Maturity</label>
                <input type="text" class="w-100" alt="" />
            </div>
            <div class="d-analysis col-2 float-left">
                <label>Put / Call Opt.</label>
                <input type="text" class="w-100" alt="" />
            </div>
            <div class="d-analysis col-2 float-left">
                <label>Credit Rating</label>
                <input type="text" class="w-100" alt="" />
            </div>
        </div>

        <div class="analyse-tab-data">
          <%= render partial: "partials/table_results" , locals: { table_datas: @analyse_data} %>
        </div>
        <div class="w-100 d-flex">
            <button class="btn btn-primary ml-auto plot-graph">Analyse</button>
        </div>
    </div>
</div>
<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="analyse-page-line-chart"></div>

<style type="text/css">
  #analyse-page-line-chart{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 500px 0 0 -300px;
    padding: 0px 0px 50px 0px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function() {

        var isin_array = [];
        $("#isin-filter").on('change paste keyup', function() {
           $.ajax({
              url: '/filter_by',
              type: "GET",
              dataType: "script",
              data: {isis: $(this).val(), ajax_call: true},
              success: function(response) {
                console.log(true)
              }
            });
        });

        $(".plot-graph").on('click', function() {
          if($("input[name='plot-to-graph']:checked").length > 0){
            isin_array =[]
            $.each($("input[name='plot-to-graph']:checked"), function(){
                isin_array.push([$(".analyse-row-"+this.value).find('td')[0].innerText, parseFloat($(".analyse-row-"+this.value).find('td')[5].innerText)])
            });
            Highcharts.chart('analyse-page-line-chart', {
                chart: {
                    type: 'column'
                },
                credits: {
                  enabled: false
                },
                title: {
                    text: 'ISIN - YTM GRAPH'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'YTM (%)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'YTM percentage is: <b>{point.y:.1f} %</b>'
                },
                series: [{
                    name: 'ISIN',
                    data: isin_array,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}',
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
          }
          else{
            alert("Please select atleast one field to plot the graph.")
          }

        });

    });
</script>
