
<div class="container">
	<h2 class="mt-5 mb-4">Settings</h2>
	<div>
		<div class="col-md-4 float-left"><%= button_to "Add Issuer",  new_issuer_path, :method => :get, :class => "btn btn-modify"%></div>
		<div class="col-md-4 float-left"><%= button_to "Add Security Type", new_security_type_path, :method => :get, :class => "btn btn-modify" %></div>
		<div class="col-md-4 float-left"><%= button_to "Add Interest Frequency", new_interest_frequency_path, :method => :get, :class => "btn btn-modify"%></div>
	</div>
</div>
