<div class="container">
	<h1 class="mb-4 mt-5">New Rating Agency</h1>

	<%= render 'form', rating_agency: @rating_agency %>
	<div class="col-12 mt-3 float-left">
		<%= link_to 'Back', rating_agencies_path %>
	</div>
</div>
