<div class="container">
  <h1 class="mb-4 mt-5">New Archival Ndsom</h1>

  <%= render 'form', archival_ndsom: @archival_ndsom %>

  <div class="col-12 mt-3 float-left pl-30">
   <%= link_to 'Back', archival_ndsoms_path %>
  </div>
</div>

