.pl-30{
  padding-left: 30px !important;
}

.btn-modify {
	background: #007bff52 !important;
	max-width: 150px !important;
	width:100%;
	margin: 0 auto;
	height: 150px;
	border-radius: 15px !important;
	display: table !important;
	text-align: center !important;
	padding: 0 !important;
	white-space: normal;
}

.input-width {
  width: 300px !important;
  border-radius: 15px !important;
  border: 1px solid #ddd !important;
}

.date-select select{
  width: 11.33% !important;
  float: left !important;
}

.m-top {
	margin-top: 5px;
}

#notice-wrapper{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	background: rgba(135, 216, 213, 0.85);
}
.alert, .notice {
	padding: 15px;
	text-align: center;
	margin: 0;
	font-size: 1.25em;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 1px;
}
