
<%= form_with(model: interest_frequency, validates: true, local: true) do |form| %>

  <div class="field d-flex">
    <%= form.label :frequency%>
    <%= form.number_field :frequency, :class=> "ml-3 pl-2 pr-2 input-width" %>
  </div>

  <div class="actions">
    <%= form.submit "Save" , class: "btn btn-primary"%>
  </div>
<% end %>
