<p id="notice"><%= notice %></p>

<p>
  <strong>Frequency:</strong>
  <%= @interest_frequency.frequency %>
</p>

<%= link_to 'Edit', edit_interest_frequency_path(@interest_frequency) %> |
<%= link_to 'Back', interest_frequencies_path %>
