<div class="container">
	<h1 class="mb-4 mt-5">New Client Type</h1>

	<%= render 'form', client_type: @client_type %>
	<div class="col-12 mt-3 float-left">
		<%= link_to 'Back', client_types_path %>
	</div>
</div>
